.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    
    .pur-list-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .mat-mdc-list {
        width: 100%;
        border-top: solid 1px white;
        border-bottom: solid 1px white;

        .mat-mdc-list-item {
            .pur-list-header-item-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: white;
                align-items: center;
                text-align: center;
                .pur-list-item-text {
                    width: 25%;
                }
            }

            .pur-list-item-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: white;
                align-items: center;
                text-align: center;
                .pur-list-item-text {
                    width: 25%;
                }
                .over-budget {
                    color: red;
                }
                .btn-delete-purchase {
                    background-color: transparent;
                    border: none;
                    box-shadow: none;

                    fa-icon {
                        color: darkred;
                    }
                }
                &:hover {
                    background-color: rgb(255, 255, 255, 0.25);
                    cursor: pointer;
                }
            }
            
        }
    }
}