<ng-container 
    *ngIf="category then showContent else noContent"></ng-container>

<ng-template #showContent>
    <div class="main-container">
        <div *ngIf="category" class="pur-list-header">
            <h2>{{category.name}}</h2>
            <h2>Budget: ${{ category.budget }}.00</h2>
        </div>
        <div *ngIf="purchases.length > 0">
            <mat-list>
                <mat-list-item>
                    <div class="pur-list-header-item-content">
                        <p class="pur-list-item-text"><u>Description</u></p>
                        <p class="pur-list-item-text"><u>Amount</u></p>
                        <p class="pur-list-item-text"><u>Date</u></p>
                        <p class="pur-list-item-text"><u>Delete?</u></p>
                    </div>
                </mat-list-item>
                <br>
                <mat-list-item
                    *ngFor="let pur of purchases"
                    >
                    <div class="pur-list-item-content">
                        <p class="pur-list-item-text">{{ pur.description }}</p>
                        <p 
                            class="pur-list-item-text"
                            [ngClass]="{'over-budget': overages.includes(pur.id)}"
                        >
                        <b>${{ pur.amount }}.00</b></p>
                        <p class="pur-list-item-text">{{ pur.date }}</p>
                        <button 
                            mat-mini-fab
                            class="btn-delete-purchase"
                            style="width: 25%;"
                            (click)="onDeletePurchase(pur)">
                            <fa-icon size="2x" [icon]="faCircleXmark"></fa-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
        <div style="color: white; text-align: center;" *ngIf="purchases.length <= 0 ">No purchases added to this category yet.</div>
        <button
            mat-flat-button
            id="btn-new-purchase"
            (click)="onOpenNewPurchaseDialog()"
        >Add New Purchase</button>
    </div>
</ng-template>

<ng-template #noContent>
    <div>There was an error fetching the page for this category.</div>
</ng-template>
