<div id="app-container" class="app-container">
  <div class="temp-header">
    <h2>Budget Application</h2>
    
    <!-- Only show the return button when we are not on home page. -->
    <ng-container *ngIf="currentPage === Page.CATEGORY_PAGE then homeBtn"></ng-container>
    <ng-template #homeBtn>
      <button
        (click)="switchContext()"
      >Return To Homepage</button>
    </ng-template>

  </div>

  <!-- Show different content based on the current active page. -->
  <ng-container *ngIf="currentPage === Page.HOME_PAGE; then home else noHome"></ng-container>

  <ng-template #home>
    <home-page
      (openCategoryPageEvent)="handleCatPageEvent($event)"
    >
    </home-page>
  </ng-template>
  <ng-template #noHome>
    <category-page
      [category]="inCategory"
    >
    </category-page>
  </ng-template>  

</div>