<div id="app-container" class="app-container">
  <div class="temp-header">
    <div class="app-logo">
      <fa-icon size="2x" [icon]="faSackDollar"></fa-icon>
      <h2>BudgetApp</h2>
    </div>
    <!-- Only show the return button when we are not on home page. -->
    <div *ngIf="currentPage === Page.CATEGORY_PAGE">
      <button mat-flat-button
        (click)="switchContext()"
      >Home</button>
    </div>
  </div>

  <!-- Show different content based on the current active page. -->
  <ng-container *ngIf="currentPage === Page.HOME_PAGE; then home else noHome"></ng-container>
  <ng-template #home>
    <home-page
      (openCategoryPageEvent)="handleCatPageEvent($event)"
    >
    </home-page>
  </ng-template>
  <ng-template #noHome>
    <category-page
      [category]="inCategory"
    >
    </category-page>
  </ng-template>  

</div>