.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .categories-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
        align-items: center;

        .cat-list-header {
            display: flex;
            flex-direction: row;
            width: 97%;
            justify-content: space-between;
        }

        .mat-mdc-list {
            width: 100%;
            border-top: solid 1px white;
            border-bottom: solid 1px white;

            .mat-mdc-list-item {
                .cat-list-item-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                &:hover{
                    background-color: rgb(255, 255, 255, 0.25);
                    cursor: pointer;
                }
            }
        }

        #btn-new-category {
            width: 50%;
        }
  }
}