<div class="main-container">
    <ng-container *ngIf="categories.length > 0; then showlist else nolist"></ng-container>
    <ng-template #showlist>
        <div class="categories-container">
            <mat-list #categoriesList>
                <mat-list-item 
                *ngFor="let cat of categories"
                (click)="onSelectCategory(cat)"
                > {{ cat.name }}</mat-list-item>
            </mat-list>
            <button 
                mat-flat-button
                id="btn-new-category"
                (click)="onCreateNewCategory()"
            >Create New Category</button>
        </div>
    </ng-template>
    <ng-template #nolist>
        <span>There was an error fetching your categories.</span>
    </ng-template>
</div>