<div class="main-container">
    <ng-container *ngIf="categories.length > 0; then showlist else nolist"></ng-container>
    <ng-template #showlist>
        <div class="categories-container">
            <div class="cat-list-header">
                <div>
                    <h3>Name</h3>
                </div>
                <div>
                    <h3>Budget</h3>
                </div>
            </div>
            <mat-list #categoriesList>
                <mat-list-item 
                *ngFor="let cat of categories"
                (click)="onSelectCategory(cat)"
                >
                <div class="cat-list-item-content">
                    <h3>{{ cat.name }}</h3>
                    <h3 style="color: lightgray;">${{ cat.budget }}.00</h3>
                    <button 
                        mat-mini-fab
                        class="btn-delete-category"
                        (click)="onDeleteCategory($event, cat)">
                        <fa-icon size="2x" [icon]="faCircleXmark"></fa-icon>
                    </button>
                </div>
                </mat-list-item>
            </mat-list>
        </div>
    </ng-template>
    <ng-template #nolist>
        <span>There was an error fetching your categories.</span>
    </ng-template>
    <button 
        mat-flat-button
        id="btn-new-category"
        (click)="onOpenNewCategoryDialog()"
    >Create New Category</button>
</div>